
/* fixed part  */
.fixed .fixed-container{
    padding: 30px 6%;
}
.fixed .fixed-container .content .img-container{
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 70%;
   z-index: -1;
   overflow: hidden;
}
.fixed .fixed-container .content .img-container img{
   width: 100%;
   height: 143%;
   object-fit: cover;

}
.fixed .fixed-container .content .img-container::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}
.fixed .fixed-container .heading{
   color: var(--secondary-color);
   font-size: clamp(2rem, 6vw, 3rem);
   text-transform: uppercase;
   letter-spacing: 3px;
   text-align: center;
   font-weight: 600;
   margin: 1.5rem  0 2rem;
}
/* fixed part  */

.about{
    background-color: var(--secondary-color);
}
.about .about-container{
    padding: 5.5rem 10%;
    margin-top: 3.5rem;
}
.about .about-container .content .data {
    padding: 1rem 3.5rem;
}
.about .about-container .content .data .card-data p{
 font-size: 1rem;
 line-height: 1.9;
}
.mutaul{
   color: black;
   margin-bottom: 2.5rem;
   position: relative;
   font-size: clamp(1.5rem, 2vw, 2rem);
   letter-spacing: 1px;
   font-weight: 600;
   text-transform: uppercase;
}
 .mutaul::after{
    content: "";
    width: 8rem;
    height: 1px;
    background-color: var(--primary-color);
    position: absolute;
    /* left: 50%;  
    transform: translateX(-50%); */
    left: 0;
    bottom: -1.3rem;
}
.about .about-container .contentmargin{
    margin-top: 4rem;
}
.about .about-container .content .data .card-data .img-container{
    width: 100%;
    height: 20rem;
    box-shadow: .5rem .5rem 0 rgb(194, 194, 194);
}
.about .about-container .content .data .card-data .img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width:850px) {
    .about .about-container .content .data{
        padding: 1rem;
    }
}